/* 
    Created on : Sep 8, 2019, 1:06:11 PM
    Author     : Tania Heieer
*/
/* the styles for the HTML elements */
html {
    background-color: #253451;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
}
header {
    background: url('header pic.jpg');
    background-repeat: no-repeat;
    background-size: 300px 180px;
    background-position: center;
    width: auto;
    height: 175px;
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: black;
}
.loginPage{
    display: table;
    width: 100%;
    margin-top: 40px;
}
.loginform{
    
    display: table-cell;
    text-align: center;
    vertical-align: top;
}
/*aside {
    display: block;
    width: 100px;
    
}*/
section {
    float: left;
    width: 500px;
    height: 500px;
}
.column{
  float: left;
  width: 50%; 
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 50px;
}
.column1{
    float: right;
    width: auto;
    margin-right: 10px;
    column-count: 1;
    margin-top: 35px;
    margin-bottom:  50px;
}
.row{
    clear: both;
}
/* Clear floats after the columns */
.row :after {
  content: "";
  display: table;
  clear: both;
}
footer {
    clear: both;
    border-top: 2px solid black;
   
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em .2em .25em;
    
}
h2 {
    font-size: 120%;
    margin: .1em 0;
}
h1, h2 {
    color: #BC7B47;
}
p {
    margin: .5em 0;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
.profileNav{
    margin: 10px;
    width: 600px;
}
aside{
    margin: .5em;
   display: inline;
}
li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    border: 1px solid #000;
    
    
    
}
a {
    display: block;
    text-align: center;
    background-color: navy;
    padding: 4px;
    text-decoration: none;
    color: rgb(208, 133, 4);
    font-weight: bold;
}
a:hover {
    color: white;
}
li .login{
    margin-left: 100px;
    width: 60px;
}
br {
    clear: left;
}

#reg input{ 
    float: right;
    margin-right: 200px;
}
#reg select{
    float: right;
    margin-right: 175px;
}
#reg label{
    padding-right: 20px; 
}


img{
    width: 100px;
    height: 100px;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center;
}
.cardh2{
    margin-left: 20px;
 
}
.patientListh2{
    margin-top: .1em;
}
.patientList{
   border: none;
   width: 100%;
   height: 20px;
   text-align: left;
   margin-right: 100px;
    
}
table td{
    padding: .1em;
    width: 0px;
    overflow: hidden;
    
}
table th{
    margin-bottom: 2px;
    text-align: left;
}


dl {
  width: 60%;
  overflow: hidden;
  background: #ff0;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  margin-top: .5em;
  margin-left: 2px;
}
dt {
  float: left;
  width: 40%;
  /* adjust the width; make sure the total of both is 100% */
  background: #ccc;
  padding: 0;
  margin: 0;
/*  margin-bottom: .1em;
  margin-top: .1em;*/
}
dd {
  float: left;
  width: 20%;
  /* adjust the width; make sure the total of both is 100% */
  background: #dd0;
  padding: 0;
  margin: 0;
}
.patientInfo{
    margin-top: 20px;
    margin-left: 20px;
}