/* 
    Created on : Sep 8, 2019, 1:06:11 PM
    Author     : Tania Heieer
*/
/* the styles for the HTML elements */
html, body, form{
   
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header-background{
    width: 100%;
    height:auto;
}
body {
    background: lightgray;
    font-family:  sans-serif;
   

}
legend{
    font-weight: bold;
}

li{
    display: inline;
    background-color: lightgrey;
    font-weight: bold;
    margin-right: 2px;
    
    
}
.main-layouts {
    padding: 1em 0 1em;
}
.main-agileinfo {
    width: 55%;
    margin: 2em auto;
    background-size: cover;
    border-radius: 20px; 
}
.agileits-top {
    padding: .5em;
}
h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: 80%;
    letter-spacing: 4px;
    font-family: sans-serif;
}
.adminSubs{
     font-size: 1em;
    color: black;
    background: #ccc;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    height: 100px;
    margin: 2em 0;
    letter-spacing: 4px;
}
.subs{
     font-size: 1em;
    color: black;
    background: #ccc;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}
.chart{
    margin: auto;
    width: 800px;
}
.nav-item{
    background-color: transparent;
}

.form{
    font-size: 0.9em;
    color: black;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif;
    background-color: white;
    
}


.error{
    color: red;
    font-weight: bold;
}
.adminConsole{
    margin: 0 auto;
    width: 80%;
}
.adminButtonContainer{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.ButtonContainer{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.pt-3-half {
padding-top: 1.4rem;
}

footer {
    clear: both;
    border-top: 2px solid black;
   
}





a:hover {
    color: white;
}

img{
    width: 100px;
    height: 100px;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 600px;
  max-width: 200px;
  margin: 15px;
  margin-left: 100px;
  text-align: center;
}
.cardheader{
    margin: 25px;
    text-align: center;
}
.card-img-top{
    width: 50px;
    height: 150px;
    margin: 2px;
    padding: 10px;
}










