/* 
    Created on : Sep 8, 2019, 1:06:11 PM
    Author     : Tania Heieer
*/
/* the styles for the HTML elements */
html, body, form{
   
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header-background{
    width: 100%;
    height:auto;
}
body {
    background: lightgray;
    font-family:  sans-serif;
   

}

li{
    display: inline;
    background-color: lightgrey;
    font-weight: bold;
    
    
}
.main-layouts {
    padding: 1em 0 1em;
}
.main-agileinfo {
    width: 55%;
    margin: 2em auto;
    background: #ccc;
    background-size: cover;
    border-radius: 20px; 
}
.agileits-top {
    padding: .5em;
}
h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: 80%;
    letter-spacing: 4px;
    font-family: sans-serif;
}

.subs{
     font-size: 1em;
    color: #fff;
    background: #ccc;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}
.chart{
    margin: auto;
    width: 800px;
}
.form{
     font-size: 0.9em;
    color: black;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
/*    border: solid 1px rgba(255, 255, 255, 0.37);*/
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif;
    background-color: white;
    
}



.error{
    color: red;
    font-weight: bold;
}


.field_set{
    text-align: left;
    margin-bottom: 10px;
    
}
#demobtn input{
    display: inline-block;
}




.row{
    clear: both;
}/*
 Clear floats after the columns 
*/
.row :after {
  content: "";
  display: table;
  clear: both;
}
footer {
    clear: both;
    border-top: 2px solid black;
   
}

h1 {
    font-size: 150%;
    margin: .5em .2em .25em;
    
}
h2 {
    font-size: 120%;
    margin: .1em 0;
}

p {
    margin: .5em 0;
}






a:hover {
    color: white;
}

/*br {
    clear: left;
}*/
.regform{
    float: right;
    margin: 20px 50px 30px 400px;
    width: 600px;
    display: flex;
    
      
}


#regh1{
    margin-left: 40px;
}


img{
    width: 100px;
    height: 100px;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 600px;
  max-width: 200px;
  margin: 15px;
  margin-left: 100px;
  text-align: center;
}
.cardheader{
    margin: 25px;
    text-align: center;
}
.card-img-top{
    width: 50px;
    height: 150px;
    margin: 2px;
    padding: 10px;
}
/*.cardh2{
    margin: 30px;
    text-align: center;
}*/
.patientListh2{
    margin-top: .1em;
}
.patientList{
   border: none;
   width: 100%;
   height: 20px;
   text-align: left;
   margin-right: 100px;
    
}
table td{
    padding: .1em;
    width: 0px;
    overflow: hidden;
    
}
table th{
    margin-bottom: 2px;
    text-align: left;
}


dl {
  width: 60%;
  overflow: hidden;
  background: #ff0;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  margin-top: .5em;
  margin-left: 2px;
}
dt {
  float: left;
  width: 40%;
  /* adjust the width; make sure the total of both is 100% */
  background: #ccc;
  padding: 0;
  margin: 0;
/*  margin-bottom: .1em;
  margin-top: .1em;*/
}
dd {
  float: left;
  width: 20%;
  /* adjust the width; make sure the total of both is 100% */
  background: #dd0;
  padding: 0;
  margin: 0;
}
.patientInfo{
    margin-top: 20px;
    margin-left: 20px;
}
.col3{ visibility: collapse }

#ptntProfileUpdateBtns{
     margin: 80px 50px 50px 50px;
     padding: 30px;
}
#ptntProfileUpdateBtns input{
    
    margin-bottom: 15px;
    width: 200px;
    font-weight:  bold;
    
}
#patientprofile{
    
    margin: 30px 100px 50px 200px;
    width: 400px;
    padding: 30px;
    
}
#patientprofile input{
    display: inline-block;
    float: right;  
    margin-right: 50px;
    padding: 3px 3px 3px 3px;
}
#ptntProfilediv{
    margin: 40px 80px 80px 80px;
    padding: 30px;
    
}
#pntbutton{
    padding:  40px;
}
td{
    margin-bottom: 15px;
}
